<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mcoe.genpact.ContentApp"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>GContent</name>

    <description>
        Genpact Thought Leadership Content
    </description>

    <author href="https://genpact.com" email="rahat.khanna@genpact.com">
        Genpact Mobile CoE
    </author>

    <preference name="phonegap-version" value="2.9.0" />

    <icon src="icon.png" />

    <gap:splash src="splash.png" />


    <!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. -->
    <preference name="permissions" value="none"/>
</widget>